body {
  background-color: beige;
}

#grid,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

#grid {
  border: 1px solid black;
  font-size: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.square {
  display: inline-block;
  width: 125px;
  height: 125px;
  border: 1px solid black;
}

.label {
  font-weight: bold;
}

button {
  padding: 5px;
}

#redButton,
#greenButton,
#opacity25Button,
#opacity50Button {
  margin-right: 5px;
}

#colorParagraph {
  margin-bottom: 30px;
}